# !/bin/bash

# Easier Navigation
alias .-="cd -"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"

# Terminal Shortcuts
alias c="clear"
alias sc="source"
alias rst="reset"

# Normal Commands With Extra Utility
alias rm="rm -i"
alias cp="cp -i"
alias mv="mv -i"
alias fzf="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"

# Personal Helpful Commands
alias als="bat ~/.dotfiles/.aliases"
alias fns="ls ~/bin"
alias ppath="echo "${PATH//:/$'\n'}""

# Aliases for utilities downloaded from homebrew
alias tfw='twf --previewCmd="bat --color=always --style=grid,numbers {}" -preview=true'
alias fcd="cd \$(find * -type d | fzf)"
alias ffcd="cd ~ && cd \$(find * -type d | fzf)"

# Git Commands
alias gst='git rev-parse --git-dir > /dev/null 2>&1 && git status || exa'
alias gc="git commit"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcorb="git fetch origin && git checkout --track origin/"
alias gcb="git checkout -b"
alias gdiff="git diff"
alias gsdiff="git diff --cached"
alias gshow="git show"
alias gundo="git reset HEAD~1 --mixed"
alias gamend="git commit --amend -m"
alias gunstage="git restore --staged"
alias gshove="!git push origin HEAD"
alias greview="git diff master...HEAD"
alias gnuke="git reset --hard"
alias gdelete="git branch -D"
alias ga="git add"
alias gb="git branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
alias gbr="git branch -r --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
alias gf="git fetch"
alias grd="git fetch origin && git rebase origin/master"
alias gpsh="git push -u 2>&1 | tee >(cat) | grep \"pull/new\" | awk '{print \$2}' | xargs open"
alias gpll="git pull"
alias gbranch="git branch | grep \* | cut -d ' ' -f2"


alias lg=lg1
alias lg1=lg1-specific
alias lg2=lg2-specific
alias lg3=lg3-specific
    alias lg1-specific="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'"
    alias lg2-specific="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'"
    alias lg3-specific="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'"


# PYTHON
alias python='python3'
alias pip='pip3'
