[init]
	defaultBranch = main

[core]
	editor = code --wait
	pager = delta

[user]
	email = phillipsachris@gmail.com
	name = Chris Phillips

[interactive]
	diffFilter = delta --color-only

[delta]
	features = line-numbers decorations
	syntax-theme = Dracula
	plus-style = syntax "#003800"
	minus-style = syntax "#3f0001"

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
	line-numbers-left-style = cyan
	line-numbers-right-style = cyan
	line-numbers-minus-style = 124
	line-numbers-plus-style = 28

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pager]
	log = delta
	show = delta
	diff = delta

[safe]
	directory = /workspaces
[credential]
	helper = osxkeychain
